// $text1: #000;

// color: $text1;

// $headers: #d84848;
// $bgc-cta: #da3030;
// $bgc-cta2: #df6666;
$headers: #21afe2;
$text-on-dark: #eee;
$bgc-cta: #00AEEF;
$bgc-cta2: #2bbaee;
$bgc-cta3: rgb(100, 150, 200);
$bgc-cta4: rgb(60, 100, 200);
$color-cta: #fff;
$secondary-cta: #84b0ff